@font-face {
    font-family: audiowide;
    src: url(../font/Audiowide-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu-Regular.ttf);
}

.audiowide {
    font-family: audiowide !important;
}